* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FAF6E3;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 93px;
}

.navbar-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

.navbar-content > li {
    align-content: center;
}

.searchAndCart-container {
    gap: 20px;
    align-content: center;
}