* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.orders-page {
  display: flex;
  flex-direction: column;
  background-color: #faf7ee;
  padding: 20px;
  gap: 10px;
  border-radius: 12px;
}

#header-container {
  display: flex;
  justify-content: space-between;
}

#header-container > header,
h1 {
  display: inline;
  color: #492e38;
}

#add-order {
  width: 3%;
  background-color: #c38e61;
  color: white;
  border-radius: 10px;
  border: none;
}

#add-order:hover {
  background-color: white;
  color: black;
}

#order-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  width: 40%;
}

#dialog-order-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

#order-header-container {
  display: flex;
  justify-content: center;
}

#close-order-form {
  position: relative;
  left: 30%;
  height: 30px;
  background-color: white;
  border: none;
}

#close-order-form-button {
  height: 100%;
}

#customer-container-input {
  height: 30px;
}

.customer {
  padding: 8px;
}

#search-customer {
  border: none;
}

#search-customer-img {
  height: 100%;
}

#id-number {
  /* padding: 8px; */
  background-color: #d4e5ef;
}

#id-number > p {
  text-align: center;
}

#total-amount-container {
  gap: 10px;
}

#add-item {
  background-color: #2d91e0;
}

#customer-container-input,
#total-amount-container,
#cancel-add-container {
  display: flex;
}

#cancel-add-container {
  gap: 10px;
}

.cancel-add-order,
#add-item {
  color: white;
  border-radius: 8px;
  border: none;
  height: 30px;
}

#cancel-order {
  background-color: #6e747e;
}

#add-item-order {
  background-color: #f55b3a;
}

.customer,
.cancel-add-order {
  flex: 1;
}

#customer-field {
  flex: 3;
}

#filter-container {
  display: flex;
  justify-content: flex-end;
}

#search-field-order {
  border: none;
  padding: 10px;
  border-bottom: 3px solid #d3bda3;
  border-radius: 5px;
  margin-right: 3px;
  outline: none;
}

#order-type {
  padding: 10px;
  width: 120px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#orders-container > table,
#orders-customer-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 30px;
}

th,
td {
  padding: 15px;
}

th {
  background-color: #4a2f2a;
  color: white;
}

td {
  text-align: center;
  background-color: white;
}

#item-status {
  background-color: #c4e2c9;
  padding: 15px;
  color: #6d9766;
}

.action-button {
  width: 23px;
  height: 23px;
  border: none;
  margin-right: 5px;
}

.img-action-button {
  width: 100%;
  height: 100%;
  background-color: white;
}
